/* stylelint-disable selector-max-id */
@import "./fonts";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

//Colors
$body-color: rgb(5 9 20);
$primary: rgb(19 110 246);
$body-color-dark: $gray-400;
$body-bg-dark: mix($gray-800, $gray-900, 50%);
$body-secondary-bg-dark: $gray-900;
$body-tertiary-bg-dark: mix($body-bg-dark, $body-secondary-bg-dark, 50%);

// $border-color-dark: $gray-600;

// Options
$grid-gutter-width: 3rem;
$container-padding-x: $grid-gutter-width;

$focus-ring-width: 0.125rem;

$btn-box-shadow: none;
$btn-border-radius: var(--#{$prefix}border-radius-xxl);
$btn-border-radius-sm: var(--#{$prefix}border-radius-xl);
$btn-border-radius-lg: var(--#{$prefix}border-radius-xxl);

$form-label-margin-bottom: $spacer * 0.25;
$form-label-font-size: $font-size-sm;

$card-spacer-y: $spacer * 2;
$card-spacer-x: $spacer * 2;
$card-border-width: 0;
$card-border-radius: $border-radius-xl;
$card-cap-bg: $card-bg;

$modal-inner-padding: $spacer * 2;
$modal-header-padding: $modal-inner-padding;
$modal-content-border-radius: var(--#{$prefix}border-radius-xl);
$modal-header-border-width: 0;

$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

$dropdown-padding-x: 0.25rem;
$dropdown-padding-y: 0.25rem;

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "./max-w";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";

@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import 'bootstrap/scss/card';
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";

// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";

// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";

// @import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

:root {
  --#{$prefix}dropdown-item-border-radius: #{$border-radius-sm};
}

html,
body,
#main {
  min-height: 100vh;
}

.bi {
  display: inline-block;
  vertical-align: -0.125em;
}

.form-group {
  min-height: #{$spacer * 6};
}

$navbar-avatar-height: 2rem;
$navbar-height: $navbar-avatar-height + $nav-link-padding-y * 2 + $navbar-padding-y * 2;

.navbar-avatar {
  width: auto;
  height: $navbar-avatar-height;
}

.transition-padding {
  @include transition(padding 0.25s ease);
}

.embed-code {
  font-family: var(--#{$prefix}font-monospace);
  line-height: #{$line-height-sm};
  font-size: #{$font-size-sm};
}

.btn-run {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &.running {
    mask-image: linear-gradient(120deg, $black 40%, rgba(0, 0, 0, 0.8) 75%, $black 95%);
    mask-size: 200% 100%;
    animation: btn-run 2s linear infinite;
  }
  .bi {
    font-size: 1.5rem;
  }
}

@keyframes btn-run {
  100% {
    mask-position: -200% 0%;
  }
}

@import "./page-wrapper";
@import "./btn-nofill";
@import "./btn-icon-only";
@import "./snippet-card";
@import "./new-snippet";
@import "./input-group-inline-button";
@import "./toolbar";
@import "./animations";
@import "./xterm";
@import "./editor-page";
@import "./embed-page";

@include media-breakpoint-down(sm) {
  .btn-lg {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  }
}
