.container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  justify-content: center;
}

.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  height: 45px;
  width: calc(20% - 10px);
  padding: 5px;
}

.runButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  height: 45px;
  padding: 5px;
  width: calc(20% - 10px);
}

.embedRunButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: #208743fc;
  background: #2f2f31fc;
  height: 40px;
  padding: 5px;
}

@media (max-width: 575px) {
  .shareButton {
    font-size: 1.5rem;
    width: calc(50vw - 10px);
  }

  .runButton {
    font-size: 1.5rem;
    width: calc(50vw - 10px);
    margin-bottom: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .shareButton {
    width: calc(35% - 10px);
  }

  .runButton {
    width: calc(35% - 10px);
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .shareButton {
    width: calc(30% - 10px);
  }

  .runButton {
    width: calc(30% - 10px);
  }
}

