:root {
  --text-size-18: 1.125rem;
  --text-size-20: 1.25rem;
  --text-size-22: 1.375rem;
  --text-size-30: 1.875rem;
  --text-size-50: 3.125rem;
  --text-size-80: 5rem;
  --text-size-90: 5.625rem;
  --dist-24: 1.5rem;
  --dist-35: 2.1875rem;
  --dist-40: 2.5rem;
  --dist-45: 2.8125rem;
  --dist-55: 3.438rem;
  --dist-65: 4.063rem;
  --dist-90: 5.625rem;
  --dist-104: 6.5rem;
  --dist-118: 7.375rem;
  --dist-160: 10rem;
  --dist-600: 37.5rem;
  --color-blue: #136ef6;
  --color-grey: #6d757d;
  --color-white: #ffffff;
  --color-purple: #7c7cf7;
  --color-light-grey: #f0f0f0;
  --color-off-white: #fcfcfc;
  --color-transparent: transparent;
}

* {
  font-family: 'Onest', sans-serif;
}

.btnPrimary {
  --bs-btn-bg: var(--color-blue);
  --bs-btn-border-color: var(--color-blue);
  --bs-btn-hover-bg: var(--color-purple);
  --bs-btn-hover-border-color: var(--color-purple);
  --bs-btn-disabled-bg: var(--color-grey);
  --bs-btn-disabled-border-color: var(--color-grey);
}

.btnAttention {
  width: 20.625rem;
  color: var(--color-off-white);
}

.btnOutlinePrimary {
  --bs-btn-bg: var(--color-transparent);
  --bs-btn-hover-bg: var(--color-transparent);
  --bs-btn-border-color: var(--color-transparent);
  --bs-btn-hover-border-color: var(--color-purple);
  --bs-btn-hover-color: var(--color-purple);
}

.btnNoAttention {
  width: 20.625rem;
  color: var(--color-blue);
  margin-top: var(--dist-24);
}
.fs5 {
  font-size: var(--text-size-18) !important;
}

.fs4 {
  font-size: var(--text-size-20) !important;
}

.fs3 {
  font-size: var(--text-size-22) !important;
}

.fs2 {
  font-size: var(--text-size-30) !important;
}

.colorPrimary {
  color: var(--color-blue);
}

.lh2 {
  line-height: 2.5rem;
}

.lh3 {
  line-height: 1.75rem;
}

.lh4 {
  line-height: 1.625rem;
}

.lh5 {
  line-height: 1.5rem;
}

.lh6 {
  line-height: 1.3125rem;
}

.mt40 {
  margin-top: var(--dist-40);
}

.mt45 {
  margin-top: var(--dist-45);
}

.mt55 {
  margin-top: var(--dist-55);
}

.mt65 {
  margin-top: var(--dist-65);
}

.mt90 {
  margin-top: var(--dist-90);
}

.fw500 {
  font-weight: 500;
}

.customList {
  list-style: none;
  padding-left: 0;
}

.listIcon {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: 13px;
}
