OAUTH_ACCESS_TOKEN_URL=https://github.com/login/oauth/access_token
OAUTH_AUTHORIZE_URL=https://github.com/login/oauth/authorize
OAUTH_CLIENT_ID=a9cbbc7ecbc4b02021bb
OAUTH_CLIENT_SECRET=bedd7f0e16fa9fb8a179f9c38b5b13bf5e340a66
GITHUB_USER_URL=https://api.github.com/user
SENTRY_DSN=https://aaaa@bbbbb.ingest.sentry.io/000000
FRONTEND_URL=http://localhost:3000
EMAIL_FROM=runit@localhost
