.container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  justify-content: center;
}

.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  background: #3161bff2;
  height: 45px;
  width: calc(20% - 10px);
  padding: 5px;
}

.runButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.75rem;
  height: 45px;
  padding: 5px;
  width: calc(20% - 10px);
}

.embedRunButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: #208743fc;
  background: #2f2f31fc;
  height: 40px;
  padding: 5px;
}
