doctype html
html
  head
    title Runit - #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#000000")
    meta(name="description" content="Runit")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")

    block scripts
      link(href='/assets/main.css', rel='stylesheet')
    script.
      var gon = !{JSON.stringify(gon || {})};
  body
    header
      nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm.border-bottom.mb-5
        .container-fluid
          .d-flex.justify-content-start
            button.border-0.bg-white(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart")
              span.navbar-toggler-icon
            a.navbar-brand(aria-hiddesn="true" href="/") Editor
          .d-flex.justify-content-end
            a.nav-link.link-primary.px-3(href="/about") About
            a.nav-link.px-3(href="/session/new") Sign in
            a.nav-link.px-3(href="/u/new") Sign up
       
    block content
      .container 
          h3 Информация о проекте
          p #[strong Runit] — среда для написания и исполнения кода, которую будем активно использовать на всех платформах Хекслета. #[p Ближайший аналог — сервис #[a.text-secondary.text-decoration-none(href="https://replit.com/~" target="_blank" rel="noopener noreferrer") repl.it].]
          p Бэкенд разрабатывается на #[a.text-secondary.text-decoration-none(href="https://ru.hexlet.io/blog/posts/gid-po-nest-js?ysclid=l7ew5lpeiw134812170" target="_blank" rel="noopener noreferrer") NestJS]  и #[a.text-secondary.text-decoration-none(href="https://ru.hexlet.io/blog/posts/vse-chto-nuzhno-znat-novichku-o-typescript-ischerpyvayuschiy-gayd?ysclid=l7ewa0mrdp61534639" target="_blank" rel="noopener noreferrer") TypeScript], на фронтенде используется #[a.text-secondary.text-decoration-none(href="https://ru.hexlet.io/blog/posts/biblioteka-react-review-article?ysclid=l7eweuntdr505174264" target="_blank" rel="noopener noreferrer") React].

    block foot
      footer.mt-auto.pb-5.bg-light.fixed-bottom
        .container-xl
          .row.row-cols-1.row-cols-sm-2.row-cols-lg-3.pt-3
            .col.d-flex.flex-column.mb-2
              h3.h3.pb-2.border-bottom © ООО “Хекслет Рус”
              a.text-secondary(href="/about") О проекте
              a.text-secondary(href="https://github.com/Hexlet/hexlet-editor" target="_blank" rel="noopener noreferrer") Исходный код
              a.text-secondary(href="http://slack-ru.hexlet.io/" target="_blank" rel="noopener noreferrer") Slack #hexlet-volunteers
            .col.d-flex.flex-column.mb-2
              h3.h3 Помощь
              a.text-secondary(href="https://ru.hexlet.io/knowledge" target="_blank" rel="noopener noreferrer") База знаний
              a.text-secondary(href="https://guides.hexlet.io" target="_blank" rel="noopener noreferrer") Hexlet Guides
            .col.d-flex.flex-column.mb-2
              h3.h3 Дополнительно
              a.text-secondary(href="https://ru.code-basics.com" target="_blank" rel="noopener noreferrer") Code Basics
              a.text-secondary(href="https://codebattle.hexlet.io" target="_blank" rel="noopener noreferrer") Code Battles

    .offcanvas.offcanvas-start(style={"z-index": "5000", "width": "20vw"} tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel")
            .offcanvas-header
              p.h5(id="offcanvasStartLabel") Меню
              button(type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close")
            .offcanvas-body
              ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
                li.nav-item
                  a.nav-link.active(aria-current="page" href="/") Home
                li.nav-item
                  a.nav-link.active(aria-current="page" href="/") My repls

    script(src='main.js')

    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous")