footer.bg-dark.border-top.border-secondary.pt-4.pb-5
    .container
        .gy-2.row-cols-1.row-cols-sm-2.row-cols-md-3.row.pt-3.row
            .col
                ul.flex-column.align-items-start.nav
                    li
                        a.py-1.text-muted.px-0.pt-0.nav-link(href='https://ru.hexlet.io/pages/about', target='_blank', data-rr-ui-event-key='about') &Ocy; &ncy;&acy;&scy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://www.notion.so/c6406ed8890747e690d32b050faf42c2', target='_blank', data-rr-ui-event-key='career') &Kcy;&acy;&rcy;&softcy;&iecy;&rcy;&acy; &vcy; &KHcy;&iecy;&kcy;&scy;&lcy;&iecy;&tcy;&iecy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://hexlet.printdirect.ru/?partner_id=615497', target='_blank', data-rr-ui-event-key='shop') &Mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; &mcy;&iecy;&rcy;&chcy;&acy;
                ul.flex-column.align-items-start.mt-3.nav
                    li
                        span.lead.fw-normal
                            a.text-muted.text-decoration-none(href='tel:88001002247') 8 800 100 22 47
                        span.text-muted  &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy; &pcy;&ocy; &Rcy;&Fcy;
                    li
                        span.lead.fw-normal
                            a.text-muted.text-decoration-none(href='tel:84950852838') +7 495 085 28 38
                        span.text-muted  &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ocy; &pcy;&ocy; &Mcy;&ocy;&scy;&kcy;&vcy;&iecy;
                p.mt-3.text-muted
                    span.d-block &Ocy;&Ocy;&Ocy; &laquo;&KHcy;&iecy;&kcy;&scy;&lcy;&iecy;&tcy; &Rcy;&ucy;&scy;&raquo;
                    span.d-block 432071, &gcy;. &Ucy;&lcy;&softcy;&yacy;&ncy;&ocy;&vcy;&scy;&kcy;,
                    span.d-block &pcy;&rcy;-&tcy; &Ncy;&acy;&rcy;&icy;&mcy;&acy;&ncy;&ocy;&vcy;&acy;, &dcy;&ocy;&mcy; 1&Gcy;, &ocy;&fcy;. 23
                    span.d-block &Ocy;&Gcy;&Rcy;&Ncy; 1217300010476
            .col
                .fw-bold.mt-3.mb-2.text-white &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                ul.flex-column.align-items-start.nav
                    li
                        a.py-1.text-muted.px-0.pt-0.nav-link(href='https://ru.hexlet.io/pages/tos', target='_blank', data-rr-ui-event-key='conditions') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://ru.hexlet.io/pages/personal_data', target='_blank', data-rr-ui-event-key='agreement') &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy; &ocy;&bcy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&iecy; &Pcy;&Dcy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='/licenseAgreement', target='_blank', data-rr-ui-event-key='licenseAgreement') Лицензионное соглашение для некоммерческого использования
                ul.flex-column.align-items-start.nav
                    .fw-bold.mt-3.mb-3.text-white &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
                    ul.list-unstyled.h3.text-start.d-flex.flex-wrap
                        li.me-4.mb-2
                            a.text-muted(href='https://slack-ru.hexlet.io/?_gl=1*gwa8w0*_ga*NjQ3OTI4OTc2Mi4xNjU5MDk4NTgy*_ga_PM3R85EKHN*MTY2Nzk5NTczNy4xODcuMS4xNjY3OTk3NTg4LjAuMC4w', aria-label='Slack', target='_blank', rel='noopener noreferrer nofollow')
                                i.fa.fa-slack.fa-1x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='slack', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
                                    path(fill='currentColor', d='M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z')
                        li.me-4.mb-2
                            a.text-muted(href='https://www.youtube.com/user/HexletUniversity', aria-label='Youtube', target='_blank', rel='noopener noreferrer nofollow')
                                i.fa.fa-youtube.fa-1x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='youtube', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 576 512')
                                    path(fill='currentColor', d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z')
                        li.me-4.mb-2
                            a.text-muted(href='https://t.me/hexlet_ru', aria-label='Telegram', target='_blank', rel='noopener noreferrer nofollow')
                                i.fa.fa-telegram.fa-1x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='telegram', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 496 512')
                                    path(fill='currentColor', d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
                        li.me-4.mb-2
                            a.text-muted(href='https://vk.com/hexlet', aria-label='Vk', target='_blank', rel='noopener noreferrer nofollow')
                                i.fa.fa-vk.fa-1x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='vk', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512')
                                    path(fill='currentColor', d='M31.4907 63.4907C0 94.9813 0 145.671 0 247.04V264.96C0 366.329 0 417.019 31.4907 448.509C62.9813 480 113.671 480 215.04 480H232.96C334.329 480 385.019 480 416.509 448.509C448 417.019 448 366.329 448 264.96V247.04C448 145.671 448 94.9813 416.509 63.4907C385.019 32 334.329 32 232.96 32H215.04C113.671 32 62.9813 32 31.4907 63.4907ZM75.6 168.267H126.747C128.427 253.76 166.133 289.973 196 297.44V168.267H244.16V242C273.653 238.827 304.64 205.227 315.093 168.267H363.253C359.313 187.435 351.46 205.583 340.186 221.579C328.913 237.574 314.461 251.071 297.733 261.227C316.41 270.499 332.907 283.63 346.132 299.751C359.357 315.873 369.01 334.618 374.453 354.747H321.44C316.555 337.262 306.614 321.61 292.865 309.754C279.117 297.899 262.173 290.368 244.16 288.107V354.747H238.373C136.267 354.747 78.0267 284.747 75.6 168.267Z')
                        li.me-4.mb-2
                            a.text-muted(href='https://twitter.com/HexletHQ', aria-label='Twitter', target='_blank', rel='noopener noreferrer nofollow')
                                i.fa.fa-twitter.fa-1x(aria-hidden='true', focusable='false', data-prefix='fab', data-icon='twitter', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512')
                                    path(fill='currentColor', d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z')
            .col
                .fw-bold.mt-3.mb-2.text-white &Ncy;&acy;&shcy;&icy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;
                ul.flex-column.align-items-start.nav
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://ru.hexlet.io/my', target='_blank', data-rr-ui-event-key='hexlet') &KHcy;&iecy;&kcy;&scy;&lcy;&iecy;&tcy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://hexly.ru/', target='_blank', data-rr-ui-event-key='college') &KHcy;&iecy;&kcy;&scy;&lcy;&iecy;&tcy; &Kcy;&ocy;&lcy;&lcy;&iecy;&dcy;&zhcy;
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://code-basics.com/ru?roistat_visit=4835603', target='_blank', data-rr-ui-event-key='codeBasics') Code Basics
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://codebattle.hexlet.io/?_gl=1*1borq0u*_ga*NjQ3OTI4OTc2Mi4xNjU5MDk4NTgy*_ga_PM3R85EKHN*MTY2ODA5OTEzOS4xOTEuMS4xNjY4MDk5NjIwLjAuMC4w#lobby', target='_blank', data-rr-ui-event-key='codeBattle') Codebattle
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://guides.hexlet.io/ru/?roistat_visit=4835603&_gl=1*1borq0u*_ga*NjQ3OTI4OTc2Mi4xNjU5MDk4NTgy*_ga_PM3R85EKHN*MTY2ODA5OTEzOS4xOTEuMS4xNjY4MDk5NjIwLjAuMC4w', target='_blank', data-rr-ui-event-key='guides') Hexlet Guides
                    li
                        a.py-1.text-muted.px-0.nav-link(href='https://cv.hexlet.io/?_gl=1*1borq0u*_ga*NjQ3OTI4OTc2Mi4xNjU5MDk4NTgy*_ga_PM3R85EKHN*MTY2ODA5OTEzOS4xOTEuMS4xNjY4MDk5NjIwLjAuMC4w', target='_blank', data-rr-ui-event-key='cv') &KHcy;&iecy;&kcy;&scy;&lcy;&iecy;&tcy;-&rcy;&iecy;&zcy;&yucy;&mcy;&iecy;
