header.bg-dark.fixed-top
    nav.py-3
        .container.d-flex.justify-content-between.align-items-center
            .d-flex.align-items-center
                a.navbar-brand(href="https://ru.hexlet.io")
                    img(src="./images/logo.png" alt="logo")
                p.d-inline-block.fw-normal.fs-5.align-bottom.ms-3.mb-0.logo-text.align-self-end Runit
            .d-flex.justify-content-end
                a.nav-link.me-5.align-self-center.text-secondary(href="http://hexlet-editor.herokuapp.com/about") О проекте
                a.ide-btn.ide-btn--light.me-4(href="http://hexlet-editor.herokuapp.com/login") Войти
                a.ide-btn.ide-btn--blue(href="http://hexlet-editor.herokuapp.com/signup") Регистрация