header
    .container
        nav.navbar.navbar-dark.justify-content-between.py-3.align-items-center
            a.navbar-brand(href="/")
                img.d-inline-block.align-top(src="./images/logo.png" alt='hexlet')
                p.d-inline-block.align-bottom.ms-1.mb-0.lh-sm Runit
            .d-flex.justify-content-end
                a.btn.btn-link.me-4.align-self-center.fs-5.lh-5(href="/about") О проекте
                a.btn.btn-light.me-4.py-2.fs-5.lh-5(href="/login") Войти
                a.btn.btn-primary.py-2.fs-5.lh-5(href="/signup") Регистрация