.upperLine {
  height: 150px;
  -webkit-box-align: stretch;
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  outline: none;
  min-height: 0;
  min-width: 0;
  position: inherit;
  width: 100%;
  background: linear-gradient(
    135deg,
    #6d52d3 11.52%,
    #5d59db 31.69%,
    #5f65fb 55.94%,
    #4d58f9 76.74%,
    #4654f9 91.55%
  );
  align-items: start;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  -webkit-box-align: stretch;
  border-width: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 0;
  width: 100%;
  background: #101e32;
}

.profileContainer {
  position: relative;
  bottom: 50px;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.profileColumn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  background: #0e1a31fc;
  box-shadow: -1px -1px 3px #1f2430;
}

.profile {
  color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  row-gap: 20px;
  position: sticky;
  align-items: flex-start;
  width: inherit;
  padding: 20px;
}

.replsCol {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #0e1a31fc;
  box-shadow: 1px -1px 3px #1f2430;
}

.newRepl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 150px;
  background: #1b243e;
  position: relative;
  bottom: 40px;
  border-radius: 20px;
  box-shadow: 1px -1px 3px #1f2430;
}

.newReplButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50px;
  position: relative;
  border-radius: 20px;
  font-family: 'Onest', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  border: 2px solid #136ef6;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #7c7cf7;
}

.newReplButton:hover {
  --bs-btn-hover-bg: #7c7cf7;
}

.repls {
  position: relative;
  bottom: 40px;
}

.profileButtons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-width: 0;
  gap: 8px;
}

.button {
  color: #fff;
  background: #136ef6;
  border: 1px solid #3e496b;
  border-radius: 5px;
}

.button:hover {
  --bs-btn-hover-bg: #7c7cf7;
}

.snippetHeader {
  background: linear-gradient(
    135deg,
    #5e3ce1 11.52%,
    #524edc 31.69%,
    #434ae4 55.94%,
    #3a45e2 76.74%,
    #3745e6 91.55%
  );
}

.snippetBody {
  background: #222e51;
}

.snippetTools {
  display: flex;
  flex-direction: row;
  mag-height: 38px;
  gap: 15%;
}

.dropdown {
  background: transparent;
  border: 0;
  padding: 0;
  color: #136ef6;
  font-size: 1.5em;

  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: #7c7cf7;
  --bs-btn-active-bg: transparent;
}

.dropdown:focus {
  --bs-btn-hover-bg: transparent;
  color: #7c7cf7;
}

.dropdownMenu {
  --bs-dropdown-min-width: 7rem;
  background: #222e51;
}

.dropdownItem {
  color: #136ef6;
  font-weight: 500;
  -webkit-background-clip: text;
  background-size: 300% 200%;
  background-position: 150%;
  transition: background-position 675ms ease;
  background-image: linear-gradient(
    135deg,
    #5f17f1 11.52%,
    #524edc 31.69%,
    #7c7cf7 55.94%,
    #121ff1 76.74%,
    #3745e6 91.55%
  );
}

.dropdownItem:hover {
  background-position: 0 100%;
  color: transparent;
}
