doctype html
html(lang="ru")
    head
        title #{"Runit"}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Runit")
        meta(name='yandex-verification' content='e8335f9c0dabd025')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        link(href="/landing/styles/style.css" rel="stylesheet")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body.min-vh-100.d-flex.flex-column.bg-dark.text-white.fw-normal
        include modules/header
        main.container.pb-5
            section.mt-160
                .row
                    p.text-center.mb-0.fs-5.lh-5 Бесплатный проект Хекслета
                .row
                    h1.text-center.h1.fw-bold.mb-0.mt-45 Мгновенный IDE
                .row
                    p.text-center.mb-0.fw-bolder.mt-35.fs-3.lh-3 Пишите код прямо в браузере!
            section.mt-65
                .row
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/tag.png" alt="tag" width="39" height="39")
                            p.fs-5.mb-0.lh-5 Запускайте JavaScript код,#[br] не устанавливая приложение
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/os.png" alt="os" width="39" height="39")
                            p.fs-5.mb-0.lh-5 Работайте на любом устройстве,#[br] с любой операционной системой
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/share.png" alt="share" width="39" height="39")
                            p.fs-5.mb-0.lh-5 Делитесь своим кодом с другими#[br] участниками
            section.mt-65
                .d-grid.col-3.mx-auto
                    a.btn.btn-primary.py-3.fs-5.fw-bold.lh-5(href="/profile") Начать кодить
            section.mt-160
                .row
                    h2.text-center.h2.fw-bold.mb-0 Без загрузок, конфигураций и настроек
                .row.mt-55.d-flex.justify-content-between
                    .col.mw-600
                        p.fs-4.mb-0.lh-5 В современной веб-разработке нужно постоянно следить за последними новостями, а еще лучше — испытывать новинки в реальных условиях.#[br] #[br] Бесплатный онлайн-редактор кода Runit позволит это делать быстро и без лишней суеты с настройками.
                    .col.mw-600
                        ul.mb-0.custom-list
                            li.mb-3.position-relative
                                p.fs-5.lh-5 Редактор полностью запускается в браузере, поэтому вы можете начать кодить за считанные секунды
                            li.mb-3.position-relative
                                p.fs-5.lh-5 Больше никаких ZIP, PKG, DMG и WTF
                            li.mb-3.position-relative
                                p.fs-5.lh-5 Работайте с любого компьютера, имеющего доступ в интернет
                            li.mb-3.position-relative
                                p.fs-5.lh-5 Используйте редактор на macOS, Windows, Linux или любой другой ОС
                            li.mb-3.position-relative
                                p.fs-5.lh-5 Не тратьте время на настройку среды
            section.mt-160
                .row
                    h2.text-center.h2.fw-bold.mb-0 Еще больше возможностей в будущем
                .row.mt-55
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/code.png" alt="code" width="39" height="39")
                            p.mb-2.fs-4.lh-4 Все языки
                            p.mb-0 Пока наша среда разработки запускает код только на JavaScript. В ближайшем будущем мы реализуем в редакторе поддержку других популярных языков программирования
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/person.png" alt="person" width="39" height="39")
                            p.mb-2.fs-4.lh-4 Совместная работа
                            p.mb-0 Вы сможете делиться ссылкой на фрагменты своего кода с другими участниками. Или работать вместе прямо в Runit!
                    .col
                        .d-flex.flex-column
                            img.mb-3(src="/landing/images/blank.png" alt="blank" width="39" height="39")
                            p.mb-2.fs-4.lh-4 Готовые шаблоны с кодом
                            p.mb-0 Больше не будет необходимости каждый раз писать код с нуля. Мы сделаем шаблоны, чтобы вы могли проверить свои идеи на практике еще быстрее
            section.mt-90
                .row
                    h3.text-center.fs-2.mb-0.lh-2 Попробуйте написать свой код прямо сейчас!
                .row.mt-40
                    .d-grid.col-3.mx-auto
                        a.btn.btn-primary.py-3.fs-5.fw-bold.lh-5(href="/signup") Начать кодить
        include modules/footer
