- var title = "Runit"

doctype html
html(lang="ru")
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="theme-color" content="#212529")
        meta(name="description" content="Runit")
        link(href="./styles/normalize.css" rel="stylesheet")
        link(href="./styles/style.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
    
    body.min-vh-100.d-flex.flex-column.bg-dark.text-light
        include modules/header
        main.container
            section.ide-head
                .row
                    p.text-center.ide-head--text.text Бесплатный проект Хекслета
                .row
                    h1.text-center.ide-head--title.title Мгновенный IDE
                .row
                    h3.text-center.ide-head--slogan.slogan Пишите код прямо в браузере!
            section.ide-features
                .row
                    .col
                        .d-flex.flex-column.ide-features--item
                            img.mb-3(src="./images/tag.png" alt="tag" width="39" height="39")
                            p.text.ide-features--text Запускайте JavaScript код,#[br] не устанавливая приложение
                    .col
                        .d-flex.flex-column.ide-features--item
                            img.mb-3(src="./images/os.png" alt="os" width="39" height="39")
                            p.text.ide-features--text Работайте на любом устройстве,#[br] с любой операционной системой
                    .col
                        .d-flex.flex-column.ide-features--item
                            img.mb-3(src="./images/share.png" alt="share" width="39" height="39")
                            p.text.ide-features--text Делитесь своим кодом с другими#[br] участниками
            section.ide-go.pt-4
                .row
                    .col
                        a.ide-btn.ide-btn--blue.ide-go--btn(href="http://hexlet-editor.herokuapp.com/signup") Начать кодить
            section.ide-desc
                .row
                    h2.text-center.ide-desc--title.title Без загрузок, конфигураций и настроек
                .row
                    .col
                        p.text.ide-desc--text В современной веб-разработке нужно постоянно следить за последними новостями, а еще лучше — испытывать новинки в реальных условиях.#[br] #[br] Бесплатный онлайн-редактор кода Runit позволит это делать быстро и без лишней суеты с настройками
                    .col
                        ul.ide-desc--list
                            li.mb-3.position-relative
                                p.text Редактор полностью запускается в браузере, поэтому вы можете начать кодить за считанные секунды
                            li.mb-3.position-relative
                                p.text Больше никаких ZIP, PKG, DMG и WTF
                            li.mb-3.position-relative
                                p.text Работайте с любого компьютера, имеющего доступ в интернет
                            li.mb-3.position-relative
                                p.text Используйте редактор на macOS, Windows, Linux или любой другой ОС
                            li.mb-3.position-relative
                                p.text Не тратьте время на настройку среды
            section.ide-features
                .row
                    h2.text-center.ide-features--title.title Еще больше возможностей в будущем
                .row
                    .col
                        .d-flex.flex-column.ide-features--item
                            img(src="./images/code.png" alt="code" width="39" height="39")
                            h4.ide-features--subtitle.subtitle Все языки
                            p.text.ide-features--text Пока наша среда разработки запускает код только на JavaScript. В ближайшем будущем мы реализуем в редакторе поддержку других популярных языков программирования
                    .col
                        .d-flex.flex-column.ide-features--item
                            img(src="./images/person.png" alt="person" width="39" height="39")
                            h4.ide-features--subtitle.subtitle Совместная работа
                            p.text.ide-features--text Вы сможете делиться ссылкой на фрагменты своего кода с другими участниками. Или работать вместе прямо в Runit!
                    .col
                        .d-flex.flex-column.ide-features--item
                            img(src="./images/blank.png" alt="blank" width="39" height="39")
                            h4.ide-features--subtitle.subtitle Готовые шаблоны с кодом
                            p.text.ide-features--text Больше не будет необходимости каждый раз писать код с нуля. Мы сделаем шаблоны, чтобы вы могли проверить свои идеи на практике еще быстрее
            section.ide-go
                .row
                    h2.text-center.ide-go--slogan.slogan Попробуйте написать свой код прямо сейчас!
                .row
                    .col
                        a.ide-btn.ide-btn--blue.ide-go--btn(href="http://hexlet-editor.herokuapp.com/signup") Начать кодить
        include modules/footer