
[data-bs-theme=dark] {
    --bs-body-bg: #050914;

  --bs-body-color: #ebf1f9;
  .btn-signup {
    --bs-btn-bg: #ebf1f9;
    --bs-btn-color: #136ef6;
    --bs-btn-border-color: #ebf1f9;
    --hover-background: #ebf1f9;
    --hover-border: #ebf1f9;
    --hover-color: #136ef6;
    --bs-btn-hover-color: #136ef6;
    --bs-btn-hover-bg: #ebf1f9;
    --bs-btn-hover-border-color: #ebf1f9;
    --bs-btn-focus-shadow-rgb: #ebf1f9;
    &:hover,
    :focus {
      font-weight: 600;

    }
    }
    .btn-start-no-reg {
    --bs-btn-bg: #050914;
    --bs-btn-color: #ebf1f9;
    --bs-btn-border-color: #136ef6;
    --hover-background: #136ef6;
    --hover-border: #136ef6;
    --hover-color: #ebf1f9;
    --bs-btn-hover-color: #ebf1f9;
    --bs-btn-hover-bg: #136ef6;
    --bs-btn-hover-border-color: #136ef6;
  }
    .footer {
        background-color: #136EF6;

    }
  }
  .btn-start-no-reg {
    --bs-btn-bg: #050914;
    --bs-btn-color: #ebf1f9;
    --bs-btn-border-color: #136ef6;
    --hover-background: #136ef6;
    --hover-border: #136ef6;
    --hover-color: #ebf1f9;
    --bs-btn-hover-color: #ebf1f9;
    --bs-btn-hover-bg: #136ef6;
    --bs-btn-hover-border-color: #136ef6;
  }
  .footer {
    background-color: #136ef6;
  }



[data-bs-theme=light] {
  --bs-body-bg: #ebf1f9;
  --bs-body-color: #050914;
  .btn-signup {
    --bs-btn-bg: #050914;
    --bs-btn-color: #ebf1f9;
    --bs-btn-border-color: #050914;
    --hover-background: #050914;
    --hover-border: #050914;
    --hover-color: #ebf1f9;
    --bs-btn-hover-color: #ebf1f9;
    --bs-btn-hover-bg: #050914;
    --bs-btn-hover-border-color: #050914;
    --bs-btn-focus-shadow-rgb: #050914;
    &:hover,
    :focus {
      font-weight: 600;
    }

    }
      .btn-start-no-reg {

    --bs-btn-bg: #ebf1f9;
    --bs-btn-color: #136ef6;
    --bs-btn-border-color: #136ef6;
    --hover-background: #136ef6;
    --hover-border: #136ef6;
    --hover-color: #ebf1f9;
    --bs-btn-hover-color: #ebf1f9;
    --bs-btn-hover-bg: #136ef6;
    --bs-btn-hover-border-color: #136ef6;
  }

    .footer {
        background-color: #050914;
        width: 100vw;
    }
}

