$font-family: 'Nunito Sans';

:root{
    @font-face {
        font-family: $font-family;
        src: local("Nunito Sans"), url("./assets/fonts/NunitoSans_10pt-Light.ttf") format("truetype");
        font-weight: 300;
    }
    @font-face {
        font-family: $font-family;
        src: local("Nunito Sans"), url("./assets/fonts/NunitoSans_10pt-SemiBold.ttf") format("truetype");
        font-weight: 600;
    }
    @font-face {
        font-family: $font-family;
        src: local("Nunito Sans"), url("./assets/fonts/NunitoSans_10pt-Bold.ttf") format("truetype");
        font-weight: 700;
    }

    .btn-signin {
        --bs-btn-bg: #136EF6;
        --bs-btn-color: #EBF1F9;
        --bs-btn-border-color: #136EF6;
        --hover-background: #136EF6;
        --hover-border: #136EF6;
        --hover-color: #EBF1F9;
        --bs-btn-hover-color: #EBF1F9;
        --bs-btn-hover-bg: #136EF6;
        --bs-btn-hover-border-color: #136EF6;
        --bs-btn-focus-shadow-rgb: #136EF6;
        &:hover, :focus {
            font-weight: 600;
        }
    }
    .btn-start {
        width: 20.625rem;
        &:hover,
        :focus {
          font-weight: 600;
        }
    }
    .btn-start-no-reg {
      width: 20.625rem;
    }
}
.first-bg-image {
    font-family: $font-family;
}
.header-link:hover,
.header-link:focus {
    border-bottom: 1px solid var(--Aent, #136EF6);
}
.wrapper-for-bg-images {
    overflow: hidden;
}
  
@media (min-width: 992px) {
    .navbar-logo {
        width: 150px;
    }
    .about-project > .d-lg-flex > h4 {
        font-family: $font-family;
        font-weight: 300;
        line-height: 130%;
        text-transform: uppercase;
    }
    .about-project > .d-lg-flex > h1 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 6rem;
        line-height: 130%;
        text-transform: uppercase;
    }
    .about-project > .d-lg-flex > div > h2 {
        font-family: $font-family;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 130%;
    }
    .first-bg-image{
        position: relative;
        overflow: visible;
        &::before {
            position: absolute;
            top: -5%;
            right: -40%;
            width: 130rem;
            height: 83rem;
            content: "";
            background-image: url("./assets/BGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
    .background-dark{
        color: white;
    }
    .background-dark::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 100%;
        height: 11rem;
        background-color: #050914;
        z-index: -1;
    }  
}

@media (max-width: 992px) {
    .about-project > .d-lg-none > h1 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 130%;
        text-transform: uppercase;
    }
    .about-project > .d-lg-none > div > h1 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 4rem;
        line-height: 130%;
        text-transform: uppercase;
    }
    .about-project > .d-lg-none > div > h2 {
        font-family: $font-family;
        font-weight: 600;
        line-height: 130%;
    }
    .first-bg-image{
        position: relative;
        &::before {
            position: absolute;
            top: 2%;
            right: -100%;
            width: 64rem;
            height: 65rem;
            content: "";
            background-image: url("./assets/BGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
    .possibilities-background {
        position: relative;
        &::before {
            position: absolute;
            width: 76rem;
            height: 6rem;
            left: -26rem;
            top: -0.7rem;
            content: "";
            background-image: url("./assets/SmallBGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
}

@media (max-width: 991px) {
    .background-dark {
        color: black;
    }
}
