.landing-body::before{
    content: " ";
    background-image: url('./assets/BGElement.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 100%;
    width: 100%;
    position: absolute;    
}