:root{
    .btn-signin {
        --bs-btn-bg: #136EF6;
        --bs-btn-color: #EBF1F9;
        --bs-btn-border-color: #136EF6;
        --hover-background: #136EF6;
        --hover-border: #136EF6;
        --hover-color: #EBF1F9;
        --bs-btn-hover-color: #EBF1F9;
        --bs-btn-hover-bg: #136EF6;
        --bs-btn-hover-border-color: #136EF6;
        --bs-btn-focus-shadow-rgb: #136EF6;
        &:hover, :focus {
            font-weight: 500;
        }
    }
    .btn-signup {
        --bs-btn-bg: #EBF1F9;
        --bs-btn-color: #136EF6;
        --bs-btn-border-color: #EBF1F9;
        --hover-background: #EBF1F9;
        --hover-border: #EBF1F9;
        --hover-color: #136EF6;
        --bs-btn-hover-color: #136EF6;
        --bs-btn-hover-bg: #EBF1F9;
        --bs-btn-hover-border-color: #EBF1F9;
        --bs-btn-focus-shadow-rgb: #EBF1F9;
        &:hover, :focus {
            font-weight: 500;
        }
    }
}
.header-link:hover,
.header-link:focus {
    border-bottom: 1px solid var(--Aent, #136EF6);
}
.button-start:hover,
.button-start:focus {
    background-color: #EBF1F9 !important;
    color: #136EF6 !important;
    border-color: #EBF1F9 !important;
    font-weight: 500 !important;
}
.footer {
    background-color: #136EF6;
}
@media (min-width: 992px) {
    .first-bg-image{
        position: relative;
        max-width: 2000px;
        overflow: hidden;
        &::before {
            position: absolute;
            top: -5%;
            right: -30%;
            width: 130rem;
            height: 80rem;
            content: "";
            background-image: url("./assets/BGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
    
    .background-dark::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 100vw;
        height: 11rem;
        background-color: #050914;
        z-index: -1;
    }
}

@media (max-width: 992px) {
    .first-bg-image{
        position: relative;
        overflow: hidden;
        &::before {
            position: absolute;
            top: 3%;
            right: -70%;
            width: 64rem;
            height: 55rem;
            content: "";
            background-image: url("./assets/BGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
    
    .possibilities-background {
        position: relative;
        &::before {
            position: absolute;
            width: 76rem;
            height: 6rem;
            left: -26rem;
            top: -0.7rem;
            content: "";
            background-image: url("./assets/SmallBGElement.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100% 100%;
            z-index: -1;
        }
    }
}