.upperLine {
  height: 150px;
  -webkit-box-align: stretch;
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  outline: none;
  min-height: 0;
  min-width: 0;
  position: inherit;
  width: 100%;
  background: linear-gradient(
    135deg,
    #6d52d3 11.52%,
    #5d59db 31.69%,
    #5f65fb 55.94%,
    #4d58f9 76.74%,
    #4654f9 91.55%
  );
  align-items: flex-start;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  -webkit-box-align: stretch;
  border-width: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 0;
  width: 100%;
  background: #101e32;
}

.profileContainer {
  position: relative;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.profileColumn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  background: #0e1a31fc;
  box-shadow: -1px -1px 3px #1f2430;
  width: fit-content;
}

.profile {
  color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  row-gap: 20px;
  position: sticky;
  align-items: flex-start;
  width: inherit;
  padding: 20px;
}

.replsCol {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: #0e1a31fc;
  box-shadow: 1px -1px 3px #1f2430;
  height: 100%;
}

.newRepl {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  bottom: 40px;
  border-radius: 5px;
}

.newReplButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  border-radius: 5px;
  font-family: 'Onest', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  color: #ffffff;
  border: 2px solid #136ef6;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #7c7cf7;
}

.newReplButton:hover {
  --bs-btn-hover-bg: #7c7cf7;
}

.repls {
  position: relative;
  bottom: 42px;
  bottom: 42px;
}

.profileButtons {
  display: grid;
  display: grid;
  flex-direction: row;
  align-items: stretch;
  border-width: 0;
  gap: 8px;
}

.button {
  color: #fff;
  background: #136ef6;
  border: 1px solid #3e496b;
  border-radius: 5px;
  text-align: center;
  min-width: 13.5rem;
  text-align: center;
  min-width: 13.5rem;
}

.button:hover {
  --bs-btn-hover-bg: #7c7cf7;
}