.signinInput {
  border: 2px solid var(--color-grey);
}

.signinInput:active {
  border: 2px solid var(--color-blue);
  box-shadow: none;
  background-color: #212529;
}

.signinInput:focus {
  border: 2px solid var(--color-blue);
  box-shadow: none;
  background-color: #212529;
}

.formGroup {
  min-height: 100px;
}
