:global(.accordion) {
  --bs-accordion-bg: none;
  --bs-accordion-border-width: 0px;
  margin-left: -1.3rem;
}

:global(.accordion-collapse) {
  margin-left: 35px;
}

:global(.accordion-button:focus) {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0);
}

:global(.accordion-button:not(.collapsed)) {
  background-color: transparent;
}
:global(.accordion-button:not(.collapsed)::before) {
  transform: var(--bs-accordion-btn-icon-transform);
}
:global(.accordion-button::before) {
  content: "^";
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  margin-right: 15px;
}

:global(.accordion-button::after) {
  display: none;
}
